---
layout: default
---

<p><b>Meet the Fluxers is a podcast</b>  bridging the gap between eddy covariance flux scientists and people whose work or lives are influenced by ecosystem fluxes - the exchanges of carbon dioxide, water vapor, and energy between the land surface and the atmosphere.</p>

<p>Our audience and participants are all fluxers: researchers, stakeholders, and curious minds interested in flux science and its diverse applications.</p>

<p>Thank you for listening and <a href="https://meetthefluxers.github.io/contact/">please reach out</a> to connect or propose a story as a guest.</p>


<center><figure>
  <img src="/images/photo_index.png" alt="Fluxnet Sites">
</figure></center>
<figcaption>Meet the Fluxers is developed by volunteer members of the <a href="https://fluxnet.org/community/fluxnet-working-groups/outreach-committee/">FLUXNET Outreach Working Group</a> as part of the <a href = "https://fluxnet.org/">FLUXNET Community Coordination project</a>, supported by the National Science Foundation’s Accelerating Research through International Network-to-Network Collaborations program (NSF AccelNet Award 2113978). We also acknowledge support from the U.S. Department of Agriculture, National Institute of Food and Agriculture (USDA NIFA Award 2023-67012-40086).</figcaption>


<!-- <div style="text-align: center;">
    <img src="/images/logo555.png" alt="Meet the FLUXERS" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
-->
