---
layout: default
---

<p><b>Meet the Fluxers</b> is a podcast bridging the gap between eddy covariance flux scientists and people whose work or lives are influenced by ecosystem fluxes - the exchanges of carbon dioxide, water vapor, and energy between the land surface and the atmosphere. Our audience and participants are all <i>Fluxers</i> - researchers, stakeholders, and curious minds interested in flux science and it's diverse applications.</p>


<p>Meet the Fluxers is developed by the <a href="https://fluxnet.org/community/fluxnet-working-groups/outreach-committee/">FLUXNET Outreach Working Group</a> as part of the <a href = "https://fluxnet.org/">FLUXNET</a> Coordination project, supported by the National Science Foundation’s Accelerating Research through International Network-to-Network Collaborations program (NSF AccelNet Award 2113978).</p>

<p>Thank you for listening and please reach out on our <a href="https://meetthefluxers.github.io/contact/">Contact</a> page to engage as a guest or propose a story to podcast about.</p>


<figure style="text-align: center;">
  <img src="/images/logos_nsf_fluxnet.png">
</figure>


<!-- <div style="text-align: center;">
    <img src="/images/logo555.png" alt="Meet the FLUXERS" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
-->